@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family:"Lato", Helvetica, Arial, sans-serif;
  min-width: 800px;
  color: #34495e
}

.header {
  height: 40px;
}

.navbar {
  border-radius: 0px;
}

.main {
  margin: 20px 0 0 0;
  text-align: center;
}

.main h3 {
  margin-left: 10px;
  text-align: left;
}

.col {
  padding: 0px;
}

label {
  font-weight: bold;
  font-size: 16px;
}

.add-button {
  margin-top: 20px;
  text-align: left;
}

.summary-button {
  margin-top: 80px;
  text-align: left;
}